

#banner {
	padding: 0 0px 0 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, we may want to remove the padding. */
	background-color: #ffffff;
	background-image:none;
	background-repeat: no-repeat;
	background-position: center top;
	width: 780px;
	height: 0px;
	border:0px;
	text-align:right;
	display:none;
	visibility:hidden;
	}
	
#searchBox {
		display:none;
	}
	
#topNav {
		display:none;
	}
	
#newsLetterNav {
		display:none;
	}