#nav,
#nav ul			{ list-style: none; margin: 0; padding: 0; }
#nav			{ font-family: Arial, Helvetica, sans-serif; font-size: 0.875em; /* 14px / 16px */ font-weight: bold; height: 2.286em; /* 32px / 14px */ line-height: 1.5em; /* 21px / 14px */ width: 460px; }
#nav li			{ float: left; height: 2.286em; /* 32px / 14px */ margin: 0; padding: 0; position: relative; }
#nav a			{ color: #08497B; display: block; padding: 0.286em 30px 0.5em; /* 4px 30px 7px */ text-decoration: none; }

#nav a:hover,
#nav a:focus		{ color: #08497B; }

#nav ul			{ background: #E7EBEF; left: 0; font-size: 0.857em; /* 12px / 14px */ line-height: 1.5em; /* 18px / 12px */ position: absolute; top: 2.667em; /* 32px / 12px */ width: 180px; }
#nav ul li		{ background: none; float: none; height: auto; width: 180px; }
#nav ul a		{ background: none; padding: 0.083em 30px 0.25em; /* 1px 30px 3px */ width: 120px; }
#nav ul ul		{ font-size: 1em; }

#nav ul a:hover,
#nav ul a:focus		{ background: #16314b; }
#nav ul .hover>a	{ background: #16314b; }

#nav ul ul		{ left: 180px; top: 0.5em; /* 6px / 12px */ }

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul	{ margin-left: -9999px; }

#nav li:hover>ul,
#nav li.hover>ul,
#nav a:focus+ul,
#nav ul ul,
#nav .hover a:focus	{ margin-left: 0; }
#nav ul a:focus		{ margin-left: 9999px; }