body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	background-image: url(/includes/images/bannerbbg.jpg);
	background-repeat: repeat-x;
	background-color:white;
	}

	
h1 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px 0px 18px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#000000;
	}
	
h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:22px;
	line-height:28px;
	font-weight:900;
	color:#000000;
	}
	
h3 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px 0px 15px 0px;
	font-size:19px;
	line-height:28px;
	font-weight:900;
	color:#333333;
	text-transform:capitalize;
	}
	
h4 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px 0px 8px 0px;
	font-size:15px;
	line-height:20px;
	font-weight:800;
	color:#333333;
	text-transform:capitalize;
	}
	
.head4 {
	margin:0px 0px 10px 0px;
	font-weight: 900;
	text-transform: capitalize;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: normal;
	color: #333333;
	}
	
.head3 {
	margin:0px 0px 8px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	text-transform: capitalize;
	color: #333333;
}

.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	color:#444444;
	text-transform: capitalize;
	text-decoration: none;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:2px;
	color:#666666;
}
	
a {
	color:#29578F;
	font-size:11px;
	text-decoration:none;
	font-weight:500;
	font-family: verdana, arial, helvetica, sans-serif;
}

a:visited {
	color:#29578F;
}

a:hover {
	color:#598132;
	text-decoration: underline;
	cursor:pointer;
}
	
a:link {
color:#29578F;
}
	
li {
	font-size:11px;
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;
}
	
.arrow li {
	font:11px/17px verdana, arial, helvetica, sans-serif;
	text-decoration:none;
	list-style-image: url(/images/bullet2.gif);
	margin-bottom: 8px;	
	padding:0px;
	
}
	
	
.arrow li a:hover {
	color:#6F7D4D;
	text-decoration: underline;
}
	
fieldset {
	padding:5px;

}

legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px 0px 2px 0px;
	font-size:15px;
	line-height:20px;
	font-weight:700;
	color:#444444;
	text-transform:capitalize;
}
	
ol.lowalpha {
	list-style-type: lower-alpha;
}

ol.upperalpha {
	list-style-type: upper-alpha;
}
	
.noimage li {
	font-size:11px;
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;
	list-style-image: none;
	margin-bottom: 3px;
	list-style-type: none;
}

	
blockquote {
	font:11px/19px verdana, arial, helvetica, sans-serif;
	color:#666666;
	margin:0px 0px 16px 15px;
	padding:0px;
}

.smallLink {
	color:#333399;
	font-size:10px;
	text-decoration:none;
	font-weight:500;
	font-family: arial, helvetica, sans-serif;
	text-align: left;
	white-space:nowrap;
}
	
.smallLink:hover {
	background-color:#dedede;
}

.Btn {
	font-size: 12px;
	width: 85px;
} 

.italictype {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: oblique;
	font-weight: 400;
}

div.container {
  }
  
 /*FROM A LIST APART: container holds the floats - However when we do this we run into a problem. When you float an element with CSS, it no longer takes up any “space” and the background and border show up above the images instead of surrounding them. We need to put some content other than the floated DIVs into the container DIV. Like a spacer DIV:   
 div.spacer {
  clear: both;
  }
*/

div.spacer {
  clear: both;
  }
  
.flTitle {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	font-weight:900;
	padding:2px;
	color:#333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 16px;
	margin-left: 2px;	
 }
  
div.float {
	float: left;
	text-indent: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 260px;
  }
  
div.float p {
	text-align: left;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
   }

div.floatNarrow {
	float: left;
	text-indent: 1px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	width: 190px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  
div.floatNarrow .arrow li {
	font-size:11px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	list-style-image: url(/images/bullet2.jpg);
	margin-bottom: 8px;
	font-weight: 500;
	}

div.floatNarrow .arrow li a{
	font-size:11px;
	text-decoration:none;
	font-family: Geneva, arial, helvetica, sans-serif;
	margin-bottom: 8px;
	font-weight: 500;
	}
	
div.floatNarrow .arrow li a:hover {
	text-decoration: underline;
	}
	

#oneContent {
	position: relative;
	font:11px/20px verdana, arial, helvetica, sans-serif;
	color:#666666;
	max-width:850px;
	margin-top: 5px;
	margin-right: 165px;
	margin-bottom: 50px;
	margin-left: 20px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	min-height:350px;
	}

#Content {
	position: relative;	
	font:11px/20px verdana, arial, helvetica, sans-serif;
	color:#666666;
	max-width:650px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-left-width: 1px;
	margin-top: 20px;
	margin-right: 120px;
	margin-bottom: 50px;
	margin-left: 235px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	min-height:350px;
	}
	
#ContentNarrow {
	position: relative;
	font:11px/20px verdana, arial, helvetica, sans-serif;
	color:#666666;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-left-width: 1px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 235px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 485px;
	min-height:350px;
	}

	
#Content>p {margin:0px;}

/*#Content>p+p {text-indent:30px;}
*/
#Content .illustration p {font: italic 95%/1.6em Georgia, serif;
border-top: 1px dashed #ccc; color: #222222;
margin: 0; padding-top: 5px;}
#Content .illustration img {display: block; margin-bottom: 5px;}
	
#flashContent {
	max-width:600px;
	margin:15px 50px 50px 235px;
	font:11px/20px verdana, arial, helvetica, sans-serif;
	padding:10px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-left-width: 1px;
	}
	
#Menu {
	font-size: 11px;
	line-height:18px;
	display:block;
	position:absolute;
	top:130px;
	left:8px;
	width:208px;
	/* Box Model hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:208px;
	background-color: #F4F4ED;
	border-left-color: #2965AD;
	border-left-width: medium;
	border-left-style: solid;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 8px;
	}
/*  "for Opera 5". */
body>#Menu {width:208px;}
	
#Menu a {
	color: #2C5787;
	font-size: 11px;
	line-height:18px;
	display:block;
	text-decoration: none;
	width:208px;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

#Menu a:link {
	display:block;
	font-size: 11px;
	line-height:18px;
	font-weight: 500;
	color:#2C5787;
}

#Menu a:hover {
	display:block;
	font-size: 11px;
	line-height:18px;
	font-family: Arial, Helvetica, sans-serif;
	color:#598132;
	background-color:#ffffff;
	width:208px;
	margin-left: -8px;
	padding-left: 8px;
	text-decoration: none;
}
	
#Menu a:visited {
	font-size: 11px;
}

#Menu ul { /* remove bullets and list indents */
	display:block;
	font-size: 11px;
	line-height:18px;
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#Menu ul span { /* remove bullets and list indents */
	display:inline-block;
	margin: 0;
	padding: 0;
	}

.mTitle{
	color:#000000;
	font-size:12px;
	line-height:20px;
	text-decoration:none;
	font-weight:600;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	word-spacing: normal;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom:2px;
	margin-left: -1px;
	}
	
.mSubTitle{
	color:#222222;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	margin-bottom:0px;
	margin-right: 0px;
	margin-left: -1px;
	
	}
	

#Mbuttons {
	font-size: 11px;
	font-weight: 900;
	position: absolute;
	width:540px;
	height: 14px;
	left: 108px;
	top: 59px;
	z-index:1;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fefefe;
	background-position: center;
	vertical-align:baseline;
		
}

#Mbuttons a {
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fefefe;
	letter-spacing: normal;
	white-space: nowrap;
	text-align: left;
	margin-right: 5px;
	margin-left: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-decoration: none;
	padding-left: 2px;
	line-height: 14px;
}

#Mbuttons a:hover {
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fefefe;
	letter-spacing: normal;
	text-indent: 0px;
	white-space: nowrap;
	text-align: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-decoration: none;
	background-color: #949681;
	margin-right: 5px;
	margin-left: 5px;
	padding-bottom: 0px;
	padding-left: 2px;
	line-height: 14px;

}

#News {
	position:inherit;
	float:right;
	background-color: #ededed;
	left:5px;
	width:230px;
	padding:10px;
	line-height:17px;
	width:230px;
	margin-right: 30px;
	margin-left: 20px;
	border: thin dotted #999999;
	margin-top: 105px;
	margin-bottom: 5px;
	}

.newsHead {
	color:#000000;
	font-size:12px;
	text-decoration:none;
	font-weight:900;
	font-family:verdana, arial, helvetica, sans-serif;
	background-color: #ededed;
	text-align: center;
	vertical-align: top;
	word-spacing: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}
	
#newsCbox {
	position:relative;
	text-align:left;
	width:320px;
	margin-left: 15px;
	background-color: #ededed;
	padding:10px;
	line-height:17px;
	border: thin dotted #999999;
	margin-top: 5px;
	margin-bottom: 35px;
	}

#spotItem {
	position:relative;
	float:inherit;
	background-color: #ededed;
	padding:10px;
	width:250px;
	margin-right: 5px;
	margin-left: 0px;
	border: thin dotted #cdcdcd;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 7;
	}

#spotItem p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: normal;
	font-weight: 500;		
	}
	
.spotItemLft {
	position:relative;
	float:left;
	background-color: #ededed;
	width:240px;
	padding:7px;
	border: thin dotted #cdcdcd;
	z-index: 7;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 2px;
	}

.spotItemLft p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: italic;
	font-weight: 500;
	text-align: center;	
	}
	
.spotItemRt {
	position:relative;
	float:right;
	background-color: #ededed;
	width:240px;
	padding:7px;
	margin-right: 10px;
	margin-left: 10px;
	border: thin dotted #cdcdcd;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 7;
	}
	
.spotItemRt p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: italic;
	font-weight: 500;
	text-align: center;	
	}
	
.spotItemRtBlnk {
	position:relative;
	float:right;
	background-color: #ffffff;
	width:240px;
	padding:5px;
	margin-right: 15px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 7;
	}
	
.spotItemLftBlnk {
	position:relative;
	float:left;
	background-color: #ffffff;
	padding:0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	z-index: 7;
	}
	
#footer {
	font:9px verdana, arial, helvetica, sans-serif;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	color: #666666;
}
	
#footer p{
	font:9px verdana, arial, helvetica, sans-serif;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	color: #666666;
	}
	
#footer a{
	font:9px verdana, arial, helvetica, sans-serif;
	color:#29578F;
	}
	
.redHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 800;
	text-transform: capitalize;
	color: #FF3300;
}

#search {
		position:absolute;
		visibility:visible;
		height:25px;
		top: 79px;
		left: 185px;
		width: 580px;
}
/* Top Navigation Bar made in to a list ------------------------------*/

ul#topNavList{
	margin-left: 0;
	margin-top: 0;
	white-space: nowrap;
	height:14px;
	padding: 0px;
	line-height: 14px;

}

#topNavList li{
	display: inline;
	text-transform: uppercase;
	list-style-type: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #F4F4ED;
	line-height: 14px;
}

#topNavList a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	letter-spacing: 0.04em;
	padding: 3px 7px 0px 7px;
	line-height: 14px;
	font-weight: bold;
}

#topNavList a:link, #topNavList a:visited{
	color: #fefefe;
	text-decoration: none;
}

#topNavList a:hover{
	color: #fefefe;
	background-color: #9A9172;
	text-decoration: none;
	padding: 0px 7px;	
}
.tableTopBlue {
	background-color:#4a8ac7;
	color: #FFFFFF;
	font-weight: bold;
}

/* table of contents floating menu
----------------------------------------------------------------------*/

#tocfloat {
	/* Netscape 4, IE 4.x-5.0/Win and other lesser browsers will use this */
  	position: absolute; left: 10px; top: 130px;
  	background-color: #EDEDED;
  	width:207px;
	background-color: #F4F4ED;
	border-left-color: #2965AD;
	border-left-width: medium;
	border-left-style: solid;
	padding:4px;
}
body > div#tocfloat {
  /* used by Opera 5+, Netscape6+/Mozilla, Konqueror, Safari, OmniWeb 4.5+, iCab, ICEbrowser */
  	position: fixed;
  	background-color: #EDEDED;
  	width:207px;
	background-color: #F4F4ED;
	border-left-color: #2965AD;
	border-left-width: medium;
	border-left-style: solid;
	padding:4px;
}

#tocfloat a {
	color:#334499;
	line-height:16px;
}	

#tocfloat a:visited {
	color:#334499;
	line-height:16px;
}	

#tocfloat ul {
	font-size: 11px;
	display:block;
	list-style: none;
	margin: 0;
	padding: 0;
	
}	

#tocfloat a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	line-height:16px;
	display:block;
	color:#ffffff;
	background-color:#B5B8BE;
	width:205px;
	padding:0px;
}

/* ------------------------------------------------------------------*/

/* =Hoverbox Code
----------------------------------------------------------------------*/

.hoverbox{
	cursor: default;
	list-style: none;
}

.hoverbox a{
	cursor: default;
}

.hoverbox a .preview{
	display: none;
}

.hoverbox a:hover .preview{
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.hoverbox img{
	background: #fff;
	border-color: #fff;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 4px;
	vertical-align: top;
	width: 135px;
	height: 100px;
}

.hoverbox li{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 15px;
	padding: 10px;
	position: relative;
}

.hoverbox .preview{
	border-color: #000;
	width: 300px;
	height: 233px;
}
/* Add the stuff for the lightbox images effect */
#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;
}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(/images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { 
left: 0; float: left;
}
#nextLink { 
right: 0; float: right;
}
#prevLink:hover, #prevLink:visited:hover { 
background: url(/images/prevlabel.gif) left 15% no-repeat; 
}
#nextLink:hover, #nextLink:visited:hover { 
background: url(/images/nextlabel.gif) right 15% no-repeat; 
}


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%	
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #202931;
	}
/* End of the image magic */	


