P { 	font-size: 10pt; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; }
TD { 	font-size: 10pt;color: black; font-family: Verdana, Arial, Helvetica, sans-serif; }
.link { font-size: 10px; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; }
.smalltext { font-size: 10px; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; }
